<div class="main">
  <%= button_to 'Log out', destroy_user_session_path, method: :delete %>
  <% @users.each do |user| %>
    <div class = "user-wrapper">
      <img src = "<%= user.photo %>" alt = "user image" class = "user-image">
      <div class = "user-info">
        <h1 class="user-name"><%= link_to user.name, user_path(user) %></h1>
        <p class = "post-count"> Number of posts: <%= user.posts.count %></p>
      </div>
    </div>
  <% end %>
</div>